<!doctype html>
<html lang="fr">

<head>
    <title>Atlas des centres-villes</title>
    <link rel="shortcut icon" href="img/logo_fnau.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="js/init_villes.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <div>
            <h1>ATLAS DES CENTRES</h1>
            <a href="/dl-data" id="dl-link">
                <img src="img/dl.png">
            </a>
            <img src="img/logo_fnau.png" alt="Logo de la fnau">
        </div>
    </header>
    <div class="container">